.titulo_familia{
    display: flex;
    width: fit-content;
    float: left;
}
.container_navbar{
    display: flex;
    margin-top: -20px;
    float: right;
    z-index:10;
    width: 350px;
}

.container_imagem_familia{
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin-top: 200px;
    z-index: 5;
}

.imagem_familia{
    display: flex;
    width: 700px;
    justify-content: center;
    margin-top: 200px;
}