.container_full_index{
    display: flex;
    margin:0;
}
.titulo_index{
    display: flex;
    justify-content: end;
    margin-top: 30%;
    margin-left: 5px;
    float: right;
    height: 200px;
    width: 550px;
}
.saxofonista{
    display: flex;
    float: left;
    width: 30%;
}
.container_navbar{
    display: flex;
    align-items: center;
}
.navbar li{
    display: flex;
    list-style: none;
    align-content: space-evenly;
    float: right;
    flex-direction: row;
    font-size: medium;
    margin-top: 15px;
}
.homeIcon{
    display: flex;
    height: 50px;
    width:  50px;
    margin-top: -20px;
}