.titulo_contato{
    display: flex;
    color: rgb(112, 112, 112);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}
.container_cards_contato{
    display: flex;
    /* background-color: rgb(157, 143, 143); */
    width: 90%;
    height: 400px;
    justify-content: space-evenly;
    margin-left: 65px;
    margin-top: 80px;
}
.card{
    display: flex;
    background-color: rgb(236, 230, 167);
    width: 30%;
    height: 80%;
    border-radius: 10px 30px  100px 30px;
}
.p_contato{
    display: flex;
    align-items: center;
    margin-left: -35px;
    width: 80%;
}
.email_contato{
    display: flex;
    width: 100px;
    height: 100px;
}
.linkedin_contato{
    display: flex;
    width: 100px;
    height: 100px;
}
.github_contato{
    display: flex;
    width: 200px;
    height: 100px;
    margin-left: -30px;
}